

.vission_mission_back {
  background: #ffffff;
}

.vission_card {
  background: #fff;
  padding: 40px 25px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  min-height: 230px; 
}

.icon_circle {
  width: 80px;
  height: 80px;
 background: linear-gradient(180deg, #00170e, #1f7e59);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -60px auto 10px auto;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

/* Title Text */
.vission_title {
  font-size: 20px;
  font-weight: 700;
  color: #222;
   margin-top: 15px;
  margin-bottom: 12px;

}

/* Paragraph */
.vission_text {
  font-size: 15px;
  color: #444;
  margin-top: 10px;
  line-height: 1.6;
  
}

/* Responsive */
@media (max-width: 576px) {
  .vission_card {
    padding: 45px 15px;
  }

  .icon_circle {
    width: 65px;
    height: 65px;
  }
}
