.vission_card {
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid black;
}

.vission_mission_title {
    color: rgb(33, 78, 42);
    font-family: "Outfit", sans-serif !important;
    font-size: 30px !important;
    line-height: 1.5;
    letter-spacing: 0.01em;
   
    font-weight: 700 !important;
    /* ← BOLD */
    gap: 10px;
    display: flex;
}
.vission_mission_back{
    background-color: #f8f8f8 !important;
}

.vission_card {
  height: 100%;               /* Make both cards equal height */
  display: flex;
  flex-direction: column;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.vission_card .card-body {
  flex: 1;                    /* Ensures equal stretch */
  display: flex;
  flex-direction: column;
}

.vission_para {
  text-align: justify;        /* Justify paragraph text */
    font-family: "Outfit", sans-serif !important;
  line-height: 1.7;
}
